/* Reset list styles for the nav */
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center; /* Align links vertically */
}

/* Styling for the nav bar */
.navbar {
  background-color: #333; /* Dark background for contrast */
  color: white;
  display: flex;
  justify-content: space-between; /* Space out the nav items */
  padding: 0.8em 2em;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em; /* Add padding for clickable area */
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.navbar a:hover,
.nav-item:hover {
  color: #007bff; /* Highlight text on hover */
  cursor: pointer;
}

/* Items on the right side such as sign-in/sign-out */
.navbar-right {
  display: flex;
}

.nav-item {
  margin-right: 20px; /* Add some space between nav items */
}

/* Responsive design for mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  .navbar a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #555; /* Add a border to each link for clarity */
    width: 100%;
  }
  .navbar-right {
    flex-direction: column;
    width: 100%;
  }
  .nav-item:last-child {
    margin-right: 0;
  }
}

/* When a user is authenticated, style the welcome message */
.nav-item.welcome-message {
  font-weight: bold; /* Make the username bold */
}
